# Dependencies
node_modules/

# Next.js
.next/
out/
.vercel/

# Build and cache
.dist/
dist/
.cache/
.turbo/
.eslintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables (DO NOT COMMIT SECRETS)
.env
.env.local
.env.*.local

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Prisma local dev database
prisma/dev.db
prisma/dev.db-journal